.messages {
    max-height: 68vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages .message.is-me {
    background-color: lavender;
}

.messages .message.is-they {
    background-color: lightskyblue;
}

.time {
    font-size: 0.8em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
